body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #111729;
}

.quote-generator{
    background-image: url("./Resources/bg-image-random-quote.svg");
    background-size: cover;
    background-color: #20293A;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: auto;
    
}

.quote-tags{
    background-color: transparent;
    color: #6466E9; /* Color del texto */
    border: 2px solid #6466E9; /* Borde */
    border-radius: 25px; /* Borde redondeado */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 10; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
    display: inline-block; /* Para permitir el padding y los márgenes */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

.quote-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: auto;
    
}

#new-quote, #copy-quote{
    background-color: transparent;
    color: #ECEFF4;
    padding: 10px 20px;
    border-color: #20293A; 
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */

}

